* {
  box-sizing: border-box;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 65vw;
  padding-left: 1rem;
}

.output {
  position: fixed;
  top: 10rem;
  right: 0;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0;
  text-align: center;
  min-height: 25vh;
  max-width: 30vw;
  background-color: rgb(30, 226, 226);
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
