* {
  box-sizing: border-box;
}
.container {
  margin: auto;
  width: 75vw;
}

.output {
  min-height: 50vh;
  min-width: 35vw;
  background-color: rgb(30, 226, 226);
}

.main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
